{% include "sitio/cabecera.html" %}

<!-- 1 Holomastigot-->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/Holomastigot/_img/Still 2024-09-12 225657_1.57.3.PNG') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/Holomastigot/_img/Still 2024-10-07 121932_1.57.4.PNG') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4"> 
        <!-- Primera columna: Video -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/Holomastigot_1.mp4') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>

        <!-- Segunda columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/Holomastigot/_img/Still 2024-10-07 121932_1.57.3.PNG') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">Holomastigot</h2>
    </div>
</div>


<!-- 2 Daddy-->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/daddy/_img/Untitled12_1.1.7.png') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/daddy/_img/Untitled_1.1.2.png') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Primera columna: Imagen (anteriormente el video) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/daddy/_img/Untitled_1.1.1.png') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>

        <!-- Segunda columna: Video (anteriormente la imagen) -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/daddy.mp4') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">Daddy</h2>
    </div>
</div>


<!-- 3 Espacio Negativo-->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/espacio negativo/_img/EN_IMG_1.png') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/espacio negativo/_img/EN_IMG_2.png') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Primera columna: Video -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/espacionegativo.mp4') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>

        <!-- Segunda columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/espacio negativo/_img/EN_IMG_3.png') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">Espacio Negativo | Short</h2>
    </div>
</div>


<!-- 4 Memorial-->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/memorial/_img/mem_img_1.png') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/memorial/_img/mem_img_2.png') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Primera columna: Imagen (anteriormente el video) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/memorial/_img/mem_img_3.png') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>

        <!-- Segunda columna: Video (anteriormente la imagen) -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">Memorial</h2>
    </div>
</div>


<!-- 5 La necesidad -->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/lnds/_img/lnds_img_1.png') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/lnds/_img/lnds_img_2.png') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Primera columna: Video -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/Subtitulado 2.mp4') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>

        <!-- Segunda columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/lnds/_img/lnds_img_3.png') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">La Necesidad de Subsistir Aquí | Short</h2>
    </div>
</div>


<!-- 6 Eyibra-->
<div class="container separacion">
    <div class="row">
        <!-- Primera columna: Imagen -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/eyibra/_img/EYS_img_1.png') }}" alt="Imagen 1" />
            </div>
        </div>

        <!-- Otra fila con dos imágenes adicionales (opcional) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/eyibra/_img/EYS_img_2.png') }}" alt="Imagen 2" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Primera columna: Imagen (anteriormente el video) -->
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='fotos/_port/cine/eyibra/_img/EYS_img_3.png') }}" alt="Imagen 3" style="border-radius: 0;" />
            </div>
        </div>

        <!-- Segunda columna: Video (anteriormente la imagen) -->
        <div class="col-md-6">
            <div class="card">
                <video class="card-img-top img-fluid" controls style="border-radius: 0;">
                    <source src="{{ url_for('static', filename='video/Eyibra - Live In Mexico 2022.mp4') }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
    </div>

    <!-- Título estático -->
    <div class="text-center mt-4">
        <h2 id="titulo" style="font-size: 30px">Eyibra - Live In Mexico 2022</h2>
    </div>
</div>


{% include "sitio/pie.html" %}
